@import 'functions', 'mixins', 'variables', 'placeholders';

.btn.btn-primary.btn-green {
    background: $spotifyGreen;
    border-color: $spotifyGreen;
    color: $white;
}

.form-green:focus {
    border-color: $spotifyGreen;
}

.pt-40 {
    padding-top: 4rem;
}

.loading-big:after {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 1.6rem;
}

.loading-green:after {
    border-color: $spotifyGreen;
    border-right-color: transparent;
    border-top-color: transparent;
}

.bar-item.bar-item-green {
    background-color: $spotifyGreen;
}

.card {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    @media #{$desktop} {
      &:hover {
        transform: scale(1.1);
      }
  }
}

.card.card-no-border {
    border: none;
}

.bar.bar-fixed-width {
    width: 250px;
}

.bgc-grey {
    background-color: #282828;
}

.bgc-black {
    background-color: #001723;
}

.bgc-green {
  background-color: $spotifyGreen;
}

.tc-light-grey {
    color: #C1C3C6;
}

.tc-spotify-green {
    color: $spotifyGreen;
}

.tc-solid-white {
    color: #FAFAFA;
}

.border-right {
    border-right: 0.1rem solid #616467;
}

.card-header.card-header-less-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-center {
   @include flex(center, center);
}

.no-overflow {
    overflow: hidden;
}

.fixed-height {
  height: 2.5rem;
  @media #{$desktop} {
    height: 2rem;
    }
}

.img-min-height {
    display: none;
    min-height: 254px;
}

// .container-image {
//   @extend %bg-image;
// }

/* Play Button */

.play-icon-holder {
    position: relative;
    width: 100%;
    height: 100%;
}

.play-icon-holder a {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.play-icon-holder a .play-icon, .play-icon-holder a .overlay {
    opacity: 0;
}

.play-icon-holder a:hover .play-icon, .play-icon-holder a:hover .overlay {
    display: block;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.play-icon-holder a:hover .play-icon {
    position: relative;
    color: $white;
    z-index: 1000;
    margin-top: 120px;
    opacity: 1;
      @media #{$desktop} {
            margin-top: 80px;
      }
}

.play-icon-holder a:hover .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: .7;
}

.album-info-text {
  font-size: 2rem;
  @media #{$desktop} {
      font-size: 1.4rem;
    }
}
